fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
langchain
langdetect
openai
tiktoken
faiss-cpu
numpy
scikit-learn
streamlit
markdown
beautifulsoup4
python-frontmatter
pandas
altair
pytest
httpx
pytest-asyncio
pytest-cov
nltk
matplotlib
seaborn
spacy